//$palette_1-color_1: #1B262C;
//$palette_1-color_2: #232931;
//$palette_1-color_3: #393E46;
//$palette_1-color_4: #4ECCA3;
//$palette_1-color_5: #EEEEEE;

$soft-orange: hsl(35, 100%, 77%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);
